In [4]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
import operator
import os
print(os.getcwd())
print(os.listdir('/Users/Brandon/Yelp Dataset/dataset'))
import json
import glob
from datetime import datetime
from pandas import HDFStore,DataFrame

/Users/Brandon/Yelp Dataset/Yelp-FA17/local-elites/brandon
['.DS_Store', 'business.json', 'checkin.json', 'photos.json', 'review.json', 'review5000.json', 'tip.json', 'user.json', 'user5000.json']

In [5]:
def load_json_to_df(datapass):
    '''
    Load the json file and parse the file to pandas dataframe format
    
    Input:
        datapass(str) : directory to the json file
    Output:
        df(dataframe) : pandas dataframe object
    '''
    
    data = [] 
    with open(datapass) as data_file: 
        for f in data_file:
            data.append(json.loads(f))
    df = pd.DataFrame(data)
    return df

LOAD THE DATA

In [6]:
%%time
import_file = "/Users/Brandon/Yelp Dataset/dataset/review.json"
review = load_json_to_df(import_file)

CPU times: user 1min 4s, sys: 20.6 s, total: 1min 24s
Wall time: 1min 33s

In [7]:
%%time
import_file = "/Users/Brandon/Yelp Dataset/dataset/business.json"
business = load_json_to_df(import_file)

CPU times: user 5.15 s, sys: 471 ms, total: 5.62 s
Wall time: 6.01 s

In [8]:
%%time
import_file = "/Users/Brandon/Yelp Dataset/dataset/user.json"
user = load_json_to_df(import_file)

CPU times: user 1min, sys: 26.7 s, total: 1min 26s
Wall time: 1min 41s

Sort by category

In [10]:
def categoryFind(x,cat):
    return cat in x;
restaurantIndex = business['categories'].apply(categoryFind,cat='Restaurants')
restaurants = business[restaurantIndex]

In [11]:
%%time
businessReviews = pd.merge(review, restaurants,on='business_id',right_index=True,sort=False)[['business_id', 'cool', 'funny', 'review_id', 'stars_x', 'text', 'useful', 'user_id', 'categories', 'review_count', 'stars_y']]
bus_rev_users = pd.merge(businessReviews, user,on='user_id',right_index=True,sort=False)[['business_id', 'cool_x', 'funny_x', 'review_id', 'stars_x', 'text', 'useful_x', 'user_id', 'categories', 'stars_y', 'average_stars', 'cool_y', 'elite', 'fans', 'friends', 'name', 'review_count_y', 'yelping_since']]

CPU times: user 38.9 s, sys: 26.4 s, total: 1min 5s
Wall time: 1min 27s

In [25]:
print(len(businessReviews))
print(len(bus_rev_users))
print(list(bus_rev_users))

2927731
2927731
['business_id', 'cool_x', 'funny_x', 'review_id', 'stars_x', 'text', 'useful_x', 'user_id', 'categories', 'stars_y', 'average_stars', 'cool_y', 'elite', 'fans', 'friends', 'name', 'review_count_y', 'yelping_since']

Define the first feature model to be analyzed

In [117]:
def numCategoryReviews(businessReviews):
    return businessReviews[['business_id','user_id']].groupby('user_id',as_index=False).count()

def average_star_category_rating(businessReviews):
    return businessReviews[['user_id','stars_x']].groupby('user_id',as_index=False).mean()

def std_star_category_rating(businessReviews):
    busRev = businessReviews[['user_id','stars_x']].groupby('user_id',as_index=False).agg(np.var)
    busRev['stars_x'] = busRev['stars_x'].pow(1./2)
    return busRev

def funny_useful_cool(businessReviews):
    return businessReviews[['user_id','funny','useful','cool']].groupby('user_id',as_index=False).sum()

def months_yelping(businessReviews):
    user_dates = businessReviews[['user_id','yelping_since']].drop_duplicates()
    curr_date = datetime(2017,10,17)
    uyelp_dates = [datetime.strptime(i, "%Y-%m-%d") for i in user_dates['yelping_since']]
    months_yelping = [(curr_date.year - i.year) * 12 + curr_date.month - i.month for i in uyelp_dates]
    user_dates['yelping_since'] = months_yelping
    return user_dates

def get_elite_users(df):
    temp = []
    for i in df['elite'].index.values:
        if df['elite'][i]:
            temp.append(i)
    return temp, df.loc[temp]

def feature1(df, df1):
    catRev = numCategoryReviews(df)
    catRev.columns = ['user_id','Num Category Reviews']
    averageCat = average_star_category_rating(df)
    averageCat.columns = ['user_id','Average Rating in Category']
    stdCat = std_star_category_rating(df)
    stdCat.columns = ['user_id','Std Dev of Ratings in Category']
    fuc = funny_useful_cool(df)
    monthsYelp = months_yelping(df1)
    monthsYelp.columns = ['user_id', 'Months Yelping']
    is_elite = df1[['user_id','elite']]
    features = catRev.merge(averageCat,on='user_id').merge(stdCat,on='user_id').merge(fuc,on='user_id').merge(monthsYelp,on='user_id').merge(is_elite,on='user_id')
    features = features.drop_duplicates('user_id')
    features.index = range(len(features))
    elite_ind, elite_users = get_elite_users(features)
    expertClassifier = [0]*len(feature_set_1)
    for i in elite_ind:
        expertClassifier[i]=1
    features = pd.concat([features, pd.Series(expertClassifier,name='is_elite')],axis=1)
    return features.fillna(0)

In [ ]:
%%time
feature_set_1 = feature1(businessReviews, bus_rev_users)

In [ ]:
elite_ind, elite_users = get_elite_users(feature_set_1)

In [66]:
#elite_users
expertClassifier = [0]*len(feature_set_1)
for i in elite_ind:
    expertClassifier[i]=1
sum(expertClassifier)

50679

Random Forests Classifier

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [109]:
X = feature_set_1.drop('user_id',axis=1).drop('elite',axis=1)
train, test = train_test_split(X)

617487
205830
823317

[        Num Category Reviews  Average Rating in Category  \
 294902                     1                    5.000000
 24853                      1                    2.000000
 113119                     4                    4.500000
 14636                      1                    5.000000
 24507                      1                    5.000000
 377442                     1                    5.000000
 402921                     1                    5.000000
 492202                     1                    5.000000
 726125                     6                    4.833333
 157828                     1                    4.000000
 214425                     1                    4.000000
 467935                     2                    3.500000
 455146                     1                    5.000000
 305956                     1                    4.000000
 370917                     1                    5.000000
 240574                     1                    3.000000
 606328                     1                    5.000000
 44280                      1                    1.000000
 243037                     4                    2.000000
 5933                       1                    5.000000
 343718                     1                    5.000000
 343401                     3                    2.333333
 606437                     1                    5.000000
 304617                     1                    5.000000
 323968                     1                    3.000000
 305686                     1                    5.000000
 524742                     1                    1.000000
 689378                     1                    5.000000
 520346                     1                    4.000000
 276056                     1                    4.000000
 ...                      ...                         ...
 151288                     1                    2.000000
 100045                     1                    5.000000
 248815                     1                    4.000000
 524022                     1                    4.000000
 628179                     1                    5.000000
 647704                     2                    2.000000
 348102                     1                    1.000000
 587556                     1                    1.000000
 350601                     4                    5.000000
 463021                     1                    5.000000
 193956                     1                    5.000000
 585795                     1                    5.000000
 368748                     3                    4.333333
 481493                     2                    5.000000
 457245                     7                    3.714286
 173728                     1                    5.000000
 705736                     2                    3.500000
 451881                     5                    4.800000
 234083                     3                    1.000000
 393649                     1                    1.000000
 594393                     8                    4.125000
 186844                     1                    3.000000
 729353                    22                    3.772727
 183757                     2                    3.000000
 778610                     1                    3.000000
 475984                     2                    2.500000
 155028                     1                    2.000000
 777937                     5                    4.600000
 428575                     3                    4.333333
 796382                     1                    1.000000

         Std Dev of Ratings in Category  funny  useful  cool  Months Yelping
 294902                        0.000000      0       0     0              14
 24853                         0.000000      0       2     0              94
 113119                        0.577350      0       0     0              37
 14636                         0.000000      0       0     1              39
 24507                         0.000000      0       0     0              38
 377442                        0.000000      1       1     1              81
 402921                        0.000000      0       0     0              88
 492202                        0.000000      0       0     0              72
 726125                        0.408248      0       1     0              68
 157828                        0.000000      0       0     0              78
 214425                        0.000000      0       0     0               5
 467935                        2.121320      0       0     0              38
 455146                        0.000000      0       0     0              14
 305956                        0.000000      0       0     0             102
 370917                        0.000000      1       1     1              86
 240574                        0.000000      1       2     1              52
 606328                        0.000000      0       0     0              20
 44280                         0.000000      0       0     0              38
 243037                        0.816497      1       1     0              61
 5933                          0.000000      0       1     0              72
 343718                        0.000000      0       0     0              75
 343401                        2.309401      0       1     0              41
 606437                        0.000000      2       0     0              76
 304617                        0.000000      0       0     0              45
 323968                        0.000000      0       1     0              54
 305686                        0.000000      0       0     0              49
 524742                        0.000000      0       1     1             105
 689378                        0.000000      0       0     0              33
 520346                        0.000000      0       0     0              39
 276056                        0.000000      0       1     1              54
 ...                                ...    ...     ...   ...             ...
 151288                        0.000000      0       0     0              67
 100045                        0.000000      0       0     0              24
 248815                        0.000000      0       0     0              51
 524022                        0.000000      0       0     0             102
 628179                        0.000000      0       0     0              16
 647704                        0.000000      0       4     0              81
 348102                        0.000000      0       0     0              82
 587556                        0.000000      1       1     1              42
 350601                        0.000000      0       1     0              62
 463021                        0.000000      0       0     0              51
 193956                        0.000000      0       0     0              10
 585795                        0.000000      0       0     0             102
 368748                        0.577350      1       1     1              32
 481493                        0.000000      0       0     0              12
 457245                        1.603567      0       0     0              27
 173728                        0.000000      0       0     0              59
 705736                        2.121320      0       1     0              28
 451881                        0.447214      0       3     1              63
 234083                        0.000000      3       2     1              57
 393649                        0.000000      1       4     1              62
 594393                        1.125992      1       4     1              71
 186844                        0.000000      0       0     0             118
 729353                        1.269864     60     107    79              36
 183757                        2.828427      0       0     1              15
 778610                        0.000000      0       0     0              97
 475984                        0.707107      0       1     1              44
 155028                        0.000000      2       1     0              95
 777937                        0.547723      1       2     0              49
 428575                        1.154701      0       1     0              40
 796382                        0.000000      0       0     0              17

 [617487 rows x 7 columns],
         Num Category Reviews  Average Rating in Category  \
 128687                     1                    4.000000
 796909                     1                    5.000000
 132944                     1                    3.000000
 277155                     1                    4.000000
 220927                     1                    5.000000
 81839                      4                    2.750000
 771833                     3                    5.000000
 96616                      1                    5.000000
 192370                     1                    3.000000
 235712                     1                    4.000000
 57964                      2                    1.000000
 559237                     2                    5.000000
 209036                     1                    1.000000
 799043                     1                    1.000000
 178906                     1                    2.000000
 289049                     2                    3.000000
 681332                     4                    4.000000
 761175                     1                    4.000000
 642219                     1                    4.000000
 258519                     5                    3.600000
 225439                     1                    5.000000
 232941                     1                    4.000000
 54175                      1                    5.000000
 451850                     1                    1.000000
 168804                     2                    4.500000
 755420                     5                    4.600000
 259405                     1                    4.000000
 44131                      1                    5.000000
 499881                     3                    4.333333
 288791                     1                    5.000000
 ...                      ...                         ...
 322659                     1                    5.000000
 578756                     1                    5.000000
 656448                     1                    5.000000
 172212                     8                    4.000000
 351868                     1                    5.000000
 6305                       1                    5.000000
 337787                     1                    1.000000
 457037                     1                    4.000000
 695705                     3                    4.666667
 719050                     1                    5.000000
 622442                     1                    1.000000
 669670                     5                    4.200000
 730471                     1                    1.000000
 589312                    12                    4.166667
 218437                    10                    4.000000
 164160                     1                    5.000000
 164035                     1                    5.000000
 61118                      4                    4.000000
 537044                     6                    3.666667
 595929                     5                    5.000000
 657408                     1                    1.000000
 524920                     4                    4.000000
 241423                     1                    2.000000
 85002                      2                    3.000000
 410780                     3                    3.333333
 379000                     1                    4.000000
 467071                     1                    5.000000
 434880                     2                    5.000000
 550669                     1                    5.000000
 712797                     2                    4.500000

         Std Dev of Ratings in Category  funny  useful  cool  Months Yelping
 128687                        0.000000      0       0     0              97
 796909                        0.000000      0       0     0              37
 132944                        0.000000      0       0     0              38
 277155                        0.000000      0       0     1              34
 220927                        0.000000      0       1     1              61
 81839                         2.061553      1       0     1              64
 771833                        0.000000      0       2     0              60
 96616                         0.000000      0       0     0              29
 192370                        0.000000      0       0     0              35
 235712                        0.000000      0       0     0              74
 57964                         0.000000      0       0     0              52
 559237                        0.000000      0       0     0              53
 209036                        0.000000      0       1     0              61
 799043                        0.000000      0       0     0              63
 178906                        0.000000      0       0     0              26
 289049                        2.828427      0       0     0              23
 681332                        1.414214      0       0     0              58
 761175                        0.000000      0       0     0             103
 642219                        0.000000      0       0     0              48
 258519                        1.673320      2       5     1              61
 225439                        0.000000      0       1     0             102
 232941                        0.000000      4       1     0              52
 54175                         0.000000      0       0     0              17
 451850                        0.000000      0       0     0              18
 168804                        0.707107      0       2     2              89
 755420                        0.547723      2       3     1              87
 259405                        0.000000      0       0     0              24
 44131                         0.000000      0       0     0              97
 499881                        0.577350      0       0     0              60
 288791                        0.000000      0       2     0              66
 ...                                ...    ...     ...   ...             ...
 322659                        0.000000      0       0     0              48
 578756                        0.000000      0       0     0              57
 656448                        0.000000      0       0     0              34
 172212                        1.195229      4       7     5              98
 351868                        0.000000      0       1     0              45
 6305                          0.000000      0       0     0              55
 337787                        0.000000      0       0     0              74
 457037                        0.000000      0       0     0              77
 695705                        0.577350      0       0     0              34
 719050                        0.000000      0       1     0              47
 622442                        0.000000      0       0     0              64
 669670                        1.788854      0       4     0              49
 730471                        0.000000      0       0     0              62
 589312                        1.114641      2       0     1              18
 218437                        0.666667      2       8     2              60
 164160                        0.000000      0       1     0              43
 164035                        0.000000      0       0     0              83
 61118                         2.000000      0       3     2              79
 537044                        2.065591      0       2     0              32
 595929                        0.000000      1       1     1              38
 657408                        0.000000      0       0     0              56
 524920                        1.154701      1       8     1              20
 241423                        0.000000      0       0     0              57
 85002                         2.828427      0       1     0              21
 410780                        2.081666      0       0     0              63
 379000                        0.000000      0       0     1              36
 467071                        0.000000      0       0     0              53
 434880                        0.000000      0       1     1              58
 550669                        0.000000      0       1     0              40
 712797                        0.707107      1       1     0              82

 [205830 rows x 7 columns]]

In [ ]:
clf = RandomForestClassifier(max_depth=4, random_state=0)
clf.fit(X,y)

In [99]:
clf.predict([[22,4.77,0.68,0,0,0,15]])

array([0])

In [98]:
feature_set_1[1:10]

,user_id,Num Category Reviews,Average Rating in Category,Std Dev of Ratings in Category,funny,useful,cool,Months Yelping,elite
1,---PLwSf5gKdIoVnyRHgBA,1,3.000000,0.000000,0,0,0,27,[]
2,---cu1hq55BP9DWVXXKHZg,2,2.500000,2.121320,0,1,0,102,[]
3,---udAKDsn0yQXmzbWQNSw,1,4.000000,0.000000,0,0,0,39,[]
4,--0RtXvcOIE4XbErYca6Rw,1,4.000000,0.000000,0,0,0,53,[]
5,--0sXNBv6IizZXuV-nl0Aw,1,5.000000,0.000000,0,1,0,57,[]
6,--1av6NdbEbMiuBr7Aup9A,1,5.000000,0.000000,0,3,0,85,[]
7,--1mPJZdSY9KluaBYAGboQ,1,5.000000,0.000000,0,0,0,75,[]
8,--26jc8nCJBy4-7r3ZtmiQ,1,5.000000,0.000000,1,1,1,38,[]
9,--2HUmLkcNHZp0xw6AMBPg,22,4.772727,0.685344,0,0,0,15,[]