In [2]:
%matplotlib inline
import pandas as pd
import json
from pprint import pprint
from random import sample
from nltk.tokenize import word_tokenize
import nltk
import seaborn as sns
import numpy as np
import plotly.plotly as py
import requests
from pymongo import MongoClient
import matplotlib as plt
from sklearn.linear_model import LogisticRegression

In [3]:
def load_json_to_df(datapass):
    '''
    Load the json file and parse the file to pandas dataframe format
    
    Input:
        datapass(str) : directory to the json file
    Output:
        df(dataframe) : pandas dataframe object
    '''
    
    data = [] 
    with open(datapass) as data_file: 
        for f in data_file:
            data.append(json.loads(f))
    df = pd.DataFrame(data)
    return df

In [4]:
# view business
DATAPASS1 = 'business.json'
business = load_json_to_df(DATAPASS1)
business.head(5)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,691 Richmond Rd,"{u'RestaurantsPriceRange2': 2, u'BusinessParki...",YDf95gJZaq05wvo7hTQbbQ,"[Shopping, Shopping Centers]",Richmond Heights,"{u'Monday': u'10:00-21:00', u'Tuesday': u'10:0...",1,41.541716,-81.493116,Richmond Town Square,,44143,17,2.0,OH
1,2824 Milton Rd,"{u'GoodForMeal': {u'dessert': False, u'latenig...",mLwM-h2YhXl2NCgdS84_Bw,"[Food, Soul Food, Convenience Stores, Restaura...",Charlotte,"{u'Monday': u'10:00-22:00', u'Tuesday': u'10:0...",0,35.236870,-80.741976,South Florida Style Chicken & Ribs,Eastland,28215,4,4.5,NC
2,337 Danforth Avenue,"{u'BusinessParking': {u'garage': False, u'stre...",v2WhjAB3PIBA8J8VxG3wEg,"[Food, Coffee & Tea]",Toronto,"{u'Monday': u'10:00-19:00', u'Tuesday': u'10:0...",0,43.677126,-79.353285,The Tea Emporium,Riverdale,M4K 1N7,7,4.5,ON
3,"7702 E Doubletree Ranch Rd, Ste 300",{},CVtCbSB1zUcUWg-9TNGTuQ,"[Professional Services, Matchmakers]",Scottsdale,"{u'Tuesday': u'9:00-17:00', u'Friday': u'9:00-...",1,33.565082,-111.916400,TRUmatch,,85258,3,3.0,AZ
4,4719 N 20Th St,"{u'GoodForMeal': {u'dessert': False, u'latenig...",duHFBe87uNSXImQmvBh87Q,"[Sandwiches, Restaurants]",Phoenix,{},0,33.505928,-112.038847,Blimpie,,85016,10,4.5,AZ

In [29]:
#Logistic regression
feature = ['review_count','stars']
X = business.loc[:, feature].loc[1:70000]
y = business.is_open.loc[1:70000]
logreg = LogisticRegression()
logreg.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [31]:
#Logistic regression predicction
Xt = business.loc[:, feature].loc[70000:]
yt = business.is_open.loc[70000:]
logreg.predict(Xt)
logreg.score(Xt, yt)

0.8440309791202576

In [32]:
logreg.get_params(deep=True)

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'max_iter': 100,
 'multi_class': 'ovr',
 'n_jobs': 1,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'liblinear',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [ ]:

DATAPASS2 = 'user.json'
user = load_json_to_df(DATAPASS2)

In [ ]:

# DATAPASS4 = 'checkin.json'
# checkin = load_json_to_df(DATAPASS4)

In [ ]:
# DATAPASS3 = 'tip.json'
# tip = load_json_to_df(DATAPASS3)

In [ ]:
# print ('{} business'.format(business.shape[0]))
print ('{} users'.format(user.shape[0]))
# print ('{} checkin'.format(checkin.shape[0]))
# print ('{} tips'.format(tip.shape[0]))

In [ ]:
print format(tip.shape[0])

In [ ]:
print tip.shape[0]

In [ ]:
# id deplicates
print ('{} user_id' .format(tip.shape[0]))
print ('{} business id'.format(len(set(business['business_id']))))

In [38]:

print ('{} unique state'.format(len(set(business['state']))))
print ('{} unique cities'.format(len(set(business['city']))))
print ('{} unique neighborhood\n'.format(len(set(business['neighborhood']))))

print ('{} open business'.format(business['is_open'].sum()))
print ('{} close business'.format(business.shape[0] - business['is_open'].sum()))

51 unique state
1010 unique cities
383 unique neighborhood

132262 open business
24377 close business

In [ ]:
print business.shape[0]
business['neighborhood'].isnull().value_counts()

In [55]:
#review_count city mean
grouped_review_state = business.groupby('city')['review_count']
meanRC = grouped_review_state.mean()[:10]
meanRC.sort_values(ascending = False)

city
Ahwatukee                      48.312500
110 Las Vegas                  47.000000
Ahwahtukee                     15.000000
Ajax                           10.533981
Ahwatukee Foothills Village     7.000000
AGINCOURT                       6.000000
                                5.333333
Aberdour                        4.000000
Aberlady                        3.500000
Aichwald                        3.000000
Name: review_count, dtype: float64

In [56]:
las = business.loc[business['city'] == '110 Las Vegas']
# not finish

In [57]:
# choose columns
busi_sub = pd.DataFrame(business, columns = ['business_id', 'name', 'categories', 
                                          'review_count','stars'])

In [ ]:
busi_sub.head(8)

In [ ]:
# corr between review_count and stars
busi_sub.corr()
# ???? why is corr small?

In [ ]:
busi_top = busi_sub.loc[busi_sub.stars == 5.0]

In [ ]:
busi_top.sort_values(by='review_count', ascending=False)
busi_top[:10]
# ???????

In [ ]:
# user analysis
user = pd.DataFrame(user)

In [ ]:
user.head(5)

In [ ]:
#print variables with high corelation
userCo = user.corr()
userCo[userCo > 0.5]

In [ ]:
busi_state = business.groupby('state').sum().sort_values(by = 'review_count', 
                                            ascending = False)['review_count'][:10]
busi_state.plot(ax=ax, style='k-')

In [62]:
# if the same name means the same business_id
print ('{} business id'.format(len(set(business['business_id']))))
print ('{} name'.format(len(set(business['name']))))

156639 business id
118580 name

In [58]:
# relationship between city and restaurant name
grouped_review_cityNama = business.groupby([business['name'], business['city']])['review_count']
meanR_C_N = grouped_review_cityNama.mean()[:10]
meanR_C_N.sort_values(ascending = False)

name                                 city
# 1 Nails                            Las Vegas      48.0
#1 Cochran Hyundai - Monroeville     Monroeville    21.0
#1 Cochran Hyundai of South Hills    Pittsburgh     11.0
#1 Cochran Mazda - North Hills       Wexford         9.0
#1 Cochran Buick GMC of Robinson     Pittsburgh      9.0
#1 Cochran Cadillac - Monroeville    Monroeville     8.0
                                     Monreoville     8.0
"T"s Hair Affair                     Chandler        6.0
#1 Cochran Buick GMC of Monroeville  Monroeville     5.0
#1 Cochran Mazda - Monroeville       Monroeville     3.0
Name: review_count, dtype: float64

In [60]:
# relationship between city and restaurant name
grouped_review_cityName = business.groupby([business['name'], business['city']])['stars']
meanR_C_N = grouped_review_cityNama.mean()[:10]
meanR_C_N.sort_values(ascending = False)

name                                 city
"T"s Hair Affair                     Chandler       5.0
#1 Cochran Cadillac - Monroeville    Monreoville    4.5
#1 Cochran Mazda - North Hills       Wexford        4.0
# 1 Nails                            Las Vegas      4.0
#1 Cochran Mazda - Monroeville       Monroeville    3.5
#1 Cochran Hyundai of South Hills    Pittsburgh     3.5
#1 Cochran Hyundai - Monroeville     Monroeville    3.5
#1 Cochran Cadillac - Monroeville    Monroeville    3.5
#1 Cochran Buick GMC of Robinson     Pittsburgh     1.5
#1 Cochran Buick GMC of Monroeville  Monroeville    1.0
Name: stars, dtype: float64

In [ ]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np


fig = plt.figure()
ax = fig.add_subplot(1, 1, 1)

# data = pd.read_csv('examples/spx.csv', index_col=0, parse_dates=True)
review = business['review_count']
grouped_review_cityName.plot(ax=ax, style='k-')

/Users/xuwenshen/anaconda/lib/python2.7/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=105987.0, right=105987.0

In [ ]:
import plotly.plotly as py
import pandas as pd
from plotly.offline import download_plotlyjs, init_notebook_mode, plot,iplot
import plotly.graph_objs as go

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['state'] + '<br>' +\
    'Beef '+df['beef']+' Dairy '+df['dairy']+'<br>'+\
    'Fruits '+df['total fruits']+' Veggies ' + df['total veggies']+'<br>'+\
    'Wheat '+df['wheat']+' Corn '+df['corn']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['code'],
        z = df['total exports'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Millions USD")
        ) ]

layout = dict(
        title = '2011 US Agriculture Exports by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
iplot( fig, filename='d3-cloropleth-map' )

In [72]:
# # binning
# bins = pd.qcut(business['review_count'], 4)
# #business['review_count']

In [73]:
# data = [ dict(
#         type='choropleth',
#         autocolorscale = False,
#         locations = business.groupby('state').sum().sort_values(by = 'review_count', ascending = False)['review_count'].keys(),
#         z = np.log(business.groupby('state').sum().sort_values(by = 'review_count', ascending = False)['review_count'].values),
#         locationmode = 'USA-states',
#         marker = dict(
#             line = dict (
#                 color = 'rgb(255,255,255)',
#                 width = 2
#             ) ),
#         ) ]

# layout = dict(
#         geo = dict(
#             scope='usa',
#             projection=dict( type='albers usa' ),
#             showlakes = True,
#             lakecolor = 'rgb(255, 255, 255)'),
#              )
    
# fig = dict( data=data, layout=layout )
# py.iplot(fig)

In [75]:
# import plotly.graph_objs as go
# data = [go.Scatter(x=user.groupby('joined_year').count()['user_id'].keys(), y=user.groupby('joined_year').count()['user_id'].values)]
# layout = go.Layout( title='New Yelp User',
#     xaxis={'title':'Year'},
#     yaxis={'title':'Number of new users'},
# )
# fig = go.Figure(data=data, layout=layout)
# py.iplot(fig)